In [1]:
import numpy as np
import pandas as pd

In [4]:
client_O_bills = pd.read_csv("STEG_BILLING_HISTORY.csv")

/var/folders/p7/d9_mnjys5ss5hl9mmyf2hsgr0000gn/T/ipykernel_42105/3039113146.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  client_O_bills = pd.read_csv("STEG_BILLING_HISTORY.csv")

In [48]:
client_O_bills.head(10)

,client_id,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,encoded_counter_type
0,train_Client_0,2014-03-24,11,1335667.0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC,0
1,train_Client_0,2013-03-29,11,1335667.0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC,0
2,train_Client_0,2015-03-23,11,1335667.0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC,0
3,train_Client_0,2015-07-13,11,1335667.0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC,0
4,train_Client_0,2016-11-17,11,1335667.0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC,0
5,train_Client_0,2017-07-17,11,1335667.0,207,9.0,1,314,0,0,0,15638,15952,8,ELEC,0
6,train_Client_0,2018-12-07,11,1335667.0,207,9.0,1,541,0,0,0,15952,16493,12,ELEC,0
7,train_Client_0,2019-03-19,11,1335667.0,207,9.0,1,585,0,0,0,16493,17078,8,ELEC,0
8,train_Client_0,2011-07-22,11,1335667.0,203,9.0,1,1200,186,0,0,7770,9156,4,ELEC,0
9,train_Client_0,2011-11-22,11,1335667.0,203,6.0,1,1082,0,0,0,9156,10238,4,ELEC,0

In [8]:
client_O_bills.describe()

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,4.476749e+06,4.476701e+06,4.476749e+06,4.472218e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06
mean,2.012804e+01,1.230595e+11,1.724884e+02,7.321713e+00,1.003040e+00,4.109795e+02,1.093225e+02,2.030620e+01,5.292588e+01,1.776700e+04,1.834970e+04,4.483095e+01
std,1.347256e+01,1.657276e+12,1.338871e+02,1.571859e+00,3.083466e-01,7.573080e+02,1.220123e+03,1.574239e+02,8.754725e+02,4.036693e+04,4.095321e+04,3.128335e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.100000e+01,1.211080e+05,5.000000e+00,6.000000e+00,1.000000e+00,7.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.791000e+03,2.056000e+03,4.000000e+00
50%,1.100000e+01,4.945610e+05,2.030000e+02,8.000000e+00,1.000000e+00,2.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.690000e+03,8.192000e+03,4.000000e+00
75%,4.000000e+01,1.115161e+06,2.070000e+02,9.000000e+00,1.000000e+00,6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.166000e+04,2.234300e+04,4.000000e+00
max,4.500000e+01,2.798115e+13,6.000000e+02,4.130000e+02,5.000000e+01,9.999100e+05,9.990730e+05,6.449200e+04,5.479460e+05,2.800280e+06,2.870972e+06,6.366240e+05

In [11]:
client_O_bills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      float64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: float64(2), int64(10), object(4)
memory usage: 546.5+ MB

In [12]:
client_O_bills.isnull().sum()

client_id                  0
invoice_date               0
tarif_type                 0
counter_number            48
counter_statue             0
counter_code               0
reading_remarque        4531
counter_coefficient        0
consommation_level_1       0
consommation_level_2       0
consommation_level_3       0
consommation_level_4       0
old_index                  0
new_index                  0
months_number              0
counter_type               0
dtype: int64

In [14]:
client_O_bills['counter_number'] = client_O_bills['counter_number'].fillna(client_O_bills['counter_number'].median())

In [15]:
client_O_bills['reading_remarque'] = client_O_bills['reading_remarque'].fillna(client_O_bills['reading_remarque'].median())

In [19]:
client_O_bills['counter_number'].describe()

count    4.476749e+06
mean     1.230582e+11
std      1.657267e+12
min      0.000000e+00
25%      1.211080e+05
50%      4.945610e+05
75%      1.115161e+06
max      2.798115e+13
Name: counter_number, dtype: float64

In [20]:
client_O_bills['tarif_type'].describe()

count    4.476749e+06
mean     2.012804e+01
std      1.347256e+01
min      8.000000e+00
25%      1.100000e+01
50%      1.100000e+01
75%      4.000000e+01
max      4.500000e+01
Name: tarif_type, dtype: float64

In [22]:
client_O_bills['counter_code'].describe()

count    4.476749e+06
mean     1.724884e+02
std      1.338871e+02
min      0.000000e+00
25%      5.000000e+00
50%      2.030000e+02
75%      2.070000e+02
max      6.000000e+02
Name: counter_code, dtype: float64

In [23]:
client_O_bills['reading_remarque'].describe()

count    4.476749e+06
mean     7.322400e+00
std      1.571212e+00
min      5.000000e+00
25%      6.000000e+00
50%      8.000000e+00
75%      9.000000e+00
max      4.130000e+02
Name: reading_remarque, dtype: float64

In [24]:
client_O_bills['counter_coefficient'].describe()

count    4.476749e+06
mean     1.003040e+00
std      3.083466e-01
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      5.000000e+01
Name: counter_coefficient, dtype: float64

In [25]:
client_O_bills['consommation_level_1'].describe()

count    4.476749e+06
mean     4.109795e+02
std      7.573080e+02
min      0.000000e+00
25%      7.900000e+01
50%      2.740000e+02
75%      6.000000e+02
max      9.999100e+05
Name: consommation_level_1, dtype: float64

In [26]:
client_O_bills['consommation_level_2'].describe()

count    4.476749e+06
mean     1.093225e+02
std      1.220123e+03
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      9.990730e+05
Name: consommation_level_2, dtype: float64

In [27]:
client_O_bills['consommation_level_3'].describe()

count    4.476749e+06
mean     2.030620e+01
std      1.574239e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      6.449200e+04
Name: consommation_level_3, dtype: float64

In [28]:
client_O_bills['consommation_level_4'].describe()

count    4.476749e+06
mean     5.292588e+01
std      8.754725e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.479460e+05
Name: consommation_level_4, dtype: float64

In [29]:
client_O_bills['old_index'].describe()

count    4.476749e+06
mean     1.776700e+04
std      4.036693e+04
min      0.000000e+00
25%      1.791000e+03
50%      7.690000e+03
75%      2.166000e+04
max      2.800280e+06
Name: old_index, dtype: float64

In [30]:
client_O_bills['new_index'].describe()

count    4.476749e+06
mean     1.834970e+04
std      4.095321e+04
min      0.000000e+00
25%      2.056000e+03
50%      8.192000e+03
75%      2.234300e+04
max      2.870972e+06
Name: new_index, dtype: float64

In [31]:
client_O_bills['months_number'].describe()

count    4.476749e+06
mean     4.483095e+01
std      3.128335e+03
min      0.000000e+00
25%      4.000000e+00
50%      4.000000e+00
75%      4.000000e+00
max      6.366240e+05
Name: months_number, dtype: float64

In [35]:
selected_records = client_O_bills[client_O_bills['client_id'] == 'train_Client_0']
selected_records

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0,207,9.0,1,314,0,0,0,15638,15952,8,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0,207,9.0,1,541,0,0,0,15952,16493,12,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0,207,9.0,1,585,0,0,0,16493,17078,8,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0,203,9.0,1,1200,186,0,0,7770,9156,4,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0,203,6.0,1,1082,0,0,0,9156,10238,4,ELEC
10,train_Client_0,2008-11-25,11,1335667.0,0,203,6.0,1,174,0,0,0,5417,5591,4,ELEC
11,train_Client_0,2012-07-23,11,1335667.0,0,203,6.0,1,628,0,0,0,10780,11408,4,ELEC
12,train_Client_0,2012-11-29,11,1335667.0,0,203,6.0,1,886,0,0,0,11408,12294,4,ELEC
13,train_Client_0,2013-07-22,11,1335667.0,0,203,8.0,1,147,0,0,0,13983,14130,4,ELEC
14,train_Client_0,2014-07-18,11,1335667.0,0,203,8.0,1,99,0,0,0,14384,14483,4,ELEC
15,train_Client_0,2014-11-24,11,1335667.0,0,203,8.0,1,141,0,0,0,14483,14624,4,ELEC
16,train_Client_0,2015-11-18,11,1335667.0,0,207,9.0,1,217,0,0,0,14849,15066,4,ELEC
17,train_Client_0,2012-03-27,11,1335667.0,0,203,8.0,1,292,0,0,0,10488,10780,4,ELEC
18,train_Client_0,2011-03-30,11,1335667.0,0,203,6.0,1,497,0,0,0,7273,7770,4,ELEC
19,train_Client_0,2013-02-12,11,1335667.0,0,203,8.0,1,38,0,0,0,14264,14302,2,ELEC
20,train_Client_0,2010-07-22,11,1335667.0,0,203,6.0,1,278,0,0,0,6761,7039,4,ELEC
21,train_Client_0,2010-11-24,11,1335667.0,0,203,6.0,1,234,0,0,0,7039,7273,4,ELEC
22,train_Client_0,2005-10-17,11,1335667.0,0,203,6.0,1,124,0,0,0,3685,3809,4,ELEC
23,train_Client_0,2006-02-24,11,1335667.0,0,203,6.0,1,141,0,0,0,3809,3950,4,ELEC
24,train_Client_0,2006-06-23,11,1335667.0,0,203,6.0,1,162,0,0,0,3950,4112,4,ELEC
25,train_Client_0,2006-10-18,11,1335667.0,0,203,6.0,1,159,0,0,0,4112,4271,4,ELEC
26,train_Client_0,2007-06-27,11,1335667.0,0,203,6.0,1,240,0,0,0,4453,4693,4,ELEC
27,train_Client_0,2007-10-25,11,1335667.0,0,203,6.0,1,276,0,0,0,4693,4969,4,ELEC
28,train_Client_0,2007-02-26,11,1335667.0,0,203,6.0,1,182,0,0,0,4271,4453,4,ELEC
29,train_Client_0,2008-07-28,11,1335667.0,0,203,6.0,1,171,0,0,0,5246,5417,4,ELEC
30,train_Client_0,2009-01-04,11,1335667.0,0,203,6.0,1,315,0,0,0,5591,5906,4,ELEC
31,train_Client_0,2009-07-27,11,1335667.0,0,203,6.0,1,312,0,0,0,5906,6218,4,ELEC
32,train_Client_0,2009-11-24,11,1335667.0,0,203,6.0,1,267,0,0,0,6218,6485,4,ELEC
33,train_Client_0,2010-03-29,11,1335667.0,0,203,6.0,1,276,0,0,0,6485,6761,4,ELEC
34,train_Client_0,2008-01-04,11,1335667.0,0,203,6.0,1,277,0,0,0,4969,5246,4,ELEC

In [37]:
selected_records1 = client_O_bills.query("client_id == 'train_Client_0'")
selected_records1

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0,207,9.0,1,314,0,0,0,15638,15952,8,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0,207,9.0,1,541,0,0,0,15952,16493,12,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0,207,9.0,1,585,0,0,0,16493,17078,8,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0,203,9.0,1,1200,186,0,0,7770,9156,4,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0,203,6.0,1,1082,0,0,0,9156,10238,4,ELEC
10,train_Client_0,2008-11-25,11,1335667.0,0,203,6.0,1,174,0,0,0,5417,5591,4,ELEC
11,train_Client_0,2012-07-23,11,1335667.0,0,203,6.0,1,628,0,0,0,10780,11408,4,ELEC
12,train_Client_0,2012-11-29,11,1335667.0,0,203,6.0,1,886,0,0,0,11408,12294,4,ELEC
13,train_Client_0,2013-07-22,11,1335667.0,0,203,8.0,1,147,0,0,0,13983,14130,4,ELEC
14,train_Client_0,2014-07-18,11,1335667.0,0,203,8.0,1,99,0,0,0,14384,14483,4,ELEC
15,train_Client_0,2014-11-24,11,1335667.0,0,203,8.0,1,141,0,0,0,14483,14624,4,ELEC
16,train_Client_0,2015-11-18,11,1335667.0,0,207,9.0,1,217,0,0,0,14849,15066,4,ELEC
17,train_Client_0,2012-03-27,11,1335667.0,0,203,8.0,1,292,0,0,0,10488,10780,4,ELEC
18,train_Client_0,2011-03-30,11,1335667.0,0,203,6.0,1,497,0,0,0,7273,7770,4,ELEC
19,train_Client_0,2013-02-12,11,1335667.0,0,203,8.0,1,38,0,0,0,14264,14302,2,ELEC
20,train_Client_0,2010-07-22,11,1335667.0,0,203,6.0,1,278,0,0,0,6761,7039,4,ELEC
21,train_Client_0,2010-11-24,11,1335667.0,0,203,6.0,1,234,0,0,0,7039,7273,4,ELEC
22,train_Client_0,2005-10-17,11,1335667.0,0,203,6.0,1,124,0,0,0,3685,3809,4,ELEC
23,train_Client_0,2006-02-24,11,1335667.0,0,203,6.0,1,141,0,0,0,3809,3950,4,ELEC
24,train_Client_0,2006-06-23,11,1335667.0,0,203,6.0,1,162,0,0,0,3950,4112,4,ELEC
25,train_Client_0,2006-10-18,11,1335667.0,0,203,6.0,1,159,0,0,0,4112,4271,4,ELEC
26,train_Client_0,2007-06-27,11,1335667.0,0,203,6.0,1,240,0,0,0,4453,4693,4,ELEC
27,train_Client_0,2007-10-25,11,1335667.0,0,203,6.0,1,276,0,0,0,4693,4969,4,ELEC
28,train_Client_0,2007-02-26,11,1335667.0,0,203,6.0,1,182,0,0,0,4271,4453,4,ELEC
29,train_Client_0,2008-07-28,11,1335667.0,0,203,6.0,1,171,0,0,0,5246,5417,4,ELEC
30,train_Client_0,2009-01-04,11,1335667.0,0,203,6.0,1,315,0,0,0,5591,5906,4,ELEC
31,train_Client_0,2009-07-27,11,1335667.0,0,203,6.0,1,312,0,0,0,5906,6218,4,ELEC
32,train_Client_0,2009-11-24,11,1335667.0,0,203,6.0,1,267,0,0,0,6218,6485,4,ELEC
33,train_Client_0,2010-03-29,11,1335667.0,0,203,6.0,1,276,0,0,0,6485,6761,4,ELEC
34,train_Client_0,2008-01-04,11,1335667.0,0,203,6.0,1,277,0,0,0,4969,5246,4,ELEC

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
encoder = LabelEncoder()

In [41]:
client_O_bills['encoded_counter_type'] = encoder.fit_transform(client_O_bills['counter_type'])

In [42]:
client_O_bills

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,encoded_counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC,0
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC,0
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC,0
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC,0
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476744,train_Client_99998,2005-08-19,10,1253571.0,0,202,9.0,1,400,135,0,0,3197,3732,8,ELEC,0
4476745,train_Client_99998,2005-12-19,10,1253571.0,0,202,6.0,1,200,6,0,0,3732,3938,4,ELEC,0
4476746,train_Client_99999,1996-09-25,11,560948.0,0,203,6.0,1,259,0,0,0,13884,14143,4,ELEC,0
4476747,train_Client_99999,1996-05-28,11,560948.0,0,203,6.0,1,603,0,0,0,13281,13884,4,ELEC,0
4476748,train_Client_99999,1996-01-25,11,560948.0,0,203,6.0,1,516,0,0,0,12765,13281,4,ELEC,0

In [46]:
client_O_bills = client_O_bills.drop(['counter_statue'], axis=1)

In [50]:
client_O_bills[['client_id', 'invoice_date']]

                  client_id invoice_date
0            train_Client_0   2014-03-24
1            train_Client_0   2013-03-29
2            train_Client_0   2015-03-23
3            train_Client_0   2015-07-13
4            train_Client_0   2016-11-17
...                     ...          ...
4476744  train_Client_99998   2005-08-19
4476745  train_Client_99998   2005-12-19
4476746  train_Client_99999   1996-09-25
4476747  train_Client_99999   1996-05-28
4476748  train_Client_99999   1996-01-25

[4476749 rows x 2 columns]